<html {{ site.language_attributes }} class="no-js">
<head>
    {% block meta %}
        <meta charset="{{ site.charset }}">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="height=device-height,width=device-width,initial-scale=1">
        <meta name="description" content="{{ site.description }}">
        <link rel="pingback" href="{{ site.pingback_url }}" />

        {% if favicon %}
            <link rel="icon" type="image/x-icon" href="{{ favicon.url }}" />
        {% endif %}

        {% block meta_title %}
            <title>
                {% if wp_title %}
                    {{ wp_title }} - {{ site.name }}
                {% else %}
                    {{ site.name }}
                {% endif %}
            </title>
        {% endblock %}
    {% endblock %}

    {% block stylesheets %}
        {{ function('wp_head') }}
        {% if sharethis %}
            <script type="text/javascript">var switchTo5x=true;</script>
            {% if is_ssl %}
                <script type="text/javascript" id="st_insights_js" src="https://ws.sharethis.com/button/buttons.js"></script>
            {% else %}
                <script type="text/javascript" id="st_insights_js" src="http://w.sharethis.com/button/buttons.js"></script>
            {% endif %}
            <script type="text/javascript">stLight.options({publisher: "{{ sharethis }}", doNotHash: true, doNotCopy: true, hashAddressBar: true});</script>
        {% endif %}
    {% endblock %}
</head>
<body class="{{ body_class }}">
    {% block navi %}
        <div data-sticky-container>
            <div class="sticky" data-sticky data-sticky-on="small" data-top-anchor="sticky-start:top" data-margin-top="0" style="width:100%">
                <div class="large-menu hide-for-small-only">
                    <div class="top">
                        <div class="row align-middle">
                            <div class="column">
                                <a href="{{ directions }}"><i class="fa fa-map-marker"></i> Lacey, WA</a>
                            </div>
                            <div class="column">
                                <ul class="horizontal menu align-right">
                                    <li><a href="{{ phone_url }}">{{ phone }}</a></li>
                                    <li><a href="#appointment" class="fancybox primary button">Schedule an Evaluation</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="row align-middle">
                            <div class="shrink column">
                                <a href="{{ site.link }}" class="home"><img src="{{ logo.url }}" alt="{{ site.title }}"></a>
                            </div>
                            <div class="column">
                                <nav>
                                    {% if menu is defined %}
                                        {% if menu %}
                                            <ul class="horizontal dropdown menu align-right" data-dropdown-menu>
                                                {% for item in menu.get_items %}
                                                    <li class="{{item.classes | join(' ')}}">
                                                        <a href="{{item.get_link}}">{{item.title}}</a>
                                                        {% if item.get_children %}
                                                            <ul class="menu">
                                                                {% for child in item.get_children %}
                                                                    <li class="{{child.classes | join(' ')}}"><a href="{{child.get_link}}">{{child.title}}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% endif %}
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-menu-bar" data-responsive-toggle="small-menu" data-hide-for="medium">
                    <div class="row">
                        <div class="shrink column">
                            <a href="{{ phone_url }}"><i class="fa fa-phone"></i></a>
                        </div>
                        <div class="expand column text-center">
                            <a href="{{ site.link }}" class="home"><img src="{{ mobile_logo.url }}" alt="{{ site.title }}"></a>
                        </div>
                        <div class="shrink column">
                            <a data-toggle><i class="fa fa-bars"></i></a>
                        </div>
                    </div>
                </div>
                <div class="mobile-menu hide-for-medium" id="small-menu" data-toggler>
                    <a href="#appointment" class="fancybox primary button">Schedule an Evaluation</a>
                    {% if menu is defined %}
                        {% include 'menu-accordion.html.twig' %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}

    {% block header %}
        <header>
            <div class="row column">
                {% block title %}
                    <h1>{{ post.title }}</h1>
                {% endblock %}
            </div>
        </header>
    {% endblock %}

    <div id="sticky-start"></div>
    {% block body %}
        <main class="content">
            <div class="row column">
                <article>
                    {% block content %}
                        {{ post.content }}
                    {% endblock %}
                </article>
            </div>
        </main>
    {% endblock %}

    {% block scroll %}
        <a class="scroll-top"><i class="fa fa-angle-up"></i></a>
    {% endblock %}

    {% block footer %}
        <footer class="footer">
            <div class="cta">
                <div class="row">
                    <div class="small-12 medium-6 large-3 columns">
                        <a href="{{ phone_url }}" class="cta-icon phone"></a>
                        <div class="cta-line-1">Call Us</div>
                        <div class="cta-line-2">{{ phone }}</div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <a href="#appointment" class="cta-icon fancybox"></a>
                        <div class="cta-line-1">Request</div>
                        <div class="cta-line-2">Appointment</div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <a href="{{ directions }}" class="cta-icon places" target="_blank"></a>
                        <div class="cta-line-1">{{ address_1 }}</div>
                        <div class="cta-line-2">{{ address_2 }}</div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="hours">
                            {{ hours }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="row column"><div class="border"></div></div>
                <div class="row align-middle large-unstack">
                    <div class="shrink column large-order-2">
                        <ul class="horizontal menu">
                            {% if facebook %}<li><a href="{{ facebook }}" class="i fa fa-facebook" target="_blank"></a></li>{% endif %}
                            {% if instagram %}<li><a href="{{ instagram }}" class="i fa fa-instagram" target="_blank"></a></li>{% endif %}
                            {% if pinterest %}<li><a href="{{ pinterest }}" class="i fa fa-pinterest" target="_blank"></a></li>{% endif %}
                            {% if google_plus %}<li><a href="{{ google_plus }}" class="i fa fa-google-plus" target="_blank"></a></li>{% endif %}
                        </ul>
                    </div>
                    <div class="column large-order-1">
                        {{ copyright }}
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
    {% block appointment %}
        <div id="appointment">
            <h3>Schedule an Evaluation</h3>
            {{ function('do_shortcode', '[gravityform id=1 title=false description=false ajax=true tabindex=49]') }}
        </div>
    {% endblock %}

    {% block scripts %}
       {{ function('wp_footer') }}
    {% endblock %}
</body>
</html>
