<section class="tips">
    <div class="row">
        <div class="small-12 columns text-center">
            <h2>{{ panel.tips_heading }}</h2>
            <div>{{ panel.tips_content }}</div>
        </div>
    </div>
    <div class="row align-center">
        {% for tip in panel.tips %}
            <div class="small-12 medium-6 large-4">
                <div class="tip">
                    <img src="{{ tip.tip_image.url }}" alt="{{ tip.tip_image.title }}" />
                    <h5>{{ tip.tip_title }}</h5>
                    <div class="content">{{ tip.tip_content }}</div>
                    <div class="text-right"><a href="{{ tip.tip_url }}" class="button">Get These Tips</a></div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>